body {
  background: gray;
}

.border_radius {
  width: 200px;
  height: 100px;
  background: dodgerblue;
  border-radius: 25px;
}

#border-img {
  width: 200px;
  height: 100px;
  background: dodgerblue;
padding: 20px;  
border: 10px solid transparent;
border-image: url(https://www.amazon.co.uk/images/G/08/My_Projects/Bestseller_Sparkle._FMpng_SY80_.png) 30 round;
}

.gradient {
  height: 300px;
  background: tomato;
  background-image: linear-gradient(dodgerblue, orange);
  background-image: linear-gradient(180deg right, red, green);
}

#shadows {
  text-shadow: 2px 2px red;
}

#trandsition {
  width: 120px;
  height: 200px;
  background-color: teal;
  transition: width 2s;
}

#trandsition:hover {
  width: 500px;
}

#animations {
  width: 100px;
  height: 100px;
  background-color: green;
  animation-name: first;
  animation-duration: 20s;
}

@keyframes first {
  from{background-color: green;}
  to{background-color: purple;}
}

.tooltip {
  position: relative;
  display: inline-block;
  border: 1px solid teal;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background: black;
  color: green;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.button {
  background: blue;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  cursor: pointer;
}

.button:hover {
  background: crimson;
}

.pagination {
 margin: 0 auto;
}
.pagination a {
  float: left;
  color: black;
  padding: 8px 3px;
  text-decoration: none;
}

.pagination a:hover {
  color: teal;
}

body {
  background: red;
}

@media screen and (min-width: 480px) {
  body {
    background: cyan;
  }
}

@media screen and (min-width: 768px) {
  body {
    background: black;
  }
}

  @media screen and (min-width: 1024px) {
    body {
      background: white;
    }
}